mixin projectnav(navData)
.ppnavigation 
  .ppnavigation__logo-box
    a(href='./index.html')
      picture.navigation__logo
        source(srcset="img/logo.png" media="(max-width: 37.5em)")
        img#portfolionavimg(
              srcset="img/logo.png"
              alt="Full logo"
              src="img/logo.png")
  .ppnavigation__centercontent-box
    span#navigation__centercontent-heading=DANNY SEYMOUR 
  .ppnavigation__list-box
    ul.ppnavigation__list.list
      li.portfolionavigation__item
        a.navigation__link.btn-text(href="./index.html")=Home
          i.fas.fa-greater-than
          i.fas.fa-greater-than   
      li.portfolionavigation__item
        a.navigation__link.btn-text(href="./portfolio.html")=Portfolio
          i.fas.fa-greater-than
          i.fas.fa-greater-than               
        a.navigation__link.btn-text(href="#")=navData.projectname
