mixin projectContent(pCData)
  section.project-content
    .projectpanel 
      .projectpanel__heading 
        h1= pCData.projectname
      .projectpanel__status     
        p= pCData.projectstatus
      .projectpanel__media 
        video.projectpanelvideo( autoplay muted loop) 
          source(src=pCData.screencapurl1 type="video/mp4")
          source(src=pCData.screencapurl2 type="video/webm")
      .projectpanel__link-box 
        a.projectpanel__link.btn.btn--basic(href=pCData.livelink )
          i(class=pCData.livesiteclass) Live Site
        a.projectpanel__link.btn.btn--basic(href=pCData.livelink )
          i(class=pCData.githubclass) Github
        a.projectpanel__link.btn.btn--basic(href=pCData.livelink) 
          i(class=pCData.documentationclass) Documentation
    .projectchallenge 
      h1.ppheading CHALLENGES: 
      p.ppcsocontent= pCData.challengetext
    .projectso
      .projectsolution 
        h1.ppheading SOLUTION:
        p.ppcsocontent= pCData.solutiontext
      .projectoutcome 
        h1.ppheading OUTCOME:
        p.ppcsocontent= pCData.outcometext