mixin projectContent(pCData)
  section.project-content
    .projectpanel 
      .projectpanel__heading 
        h1= pCData.projectname
      .projectpanel__status     
        p= pCData.projectstatus
      .projectpanel__media 
        video( autoplay muted loop) 
          source(src=pCData.screencapurl1 type="video/mp4")
          source(src=pCData.screencapurl2 type="video/webm")
      .projectpanel__link-box 
        a.projectpanel__link.btn(href=pCData.livelink )
          i(class=pCData.techstackclass1) Live Site
        a.projectpanel__link.btn(href=pCData.livelink )
          i(class=pCData.techstackclass2) Github
        a.projectpanel__link.btn(href=pCData.livelink) 
          i(class=pCData.techstackclass3) Documentation
    .projectchallenge 
      p= pCData.challengetext
    .projectso
      .projectsolution 
        p= pCData.solutiontext
      .projectoutcome 
        p= pCData.outcometext